*.bak
*.sas7bcat
.ipynb_checkpoints/
*.sas7bitm
*.pyc
SAS_kernel.egg-info/
saspy.egg-info/
*.rej
sascfg_personal.py

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
build/
dist/
saspy/__pycache__/
